<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <p>
        <%= if (@product.image_url.present?)
           image_tag(@product.image_url, class: "img-responsive")
        	end %>
      </p>
    </div> <!-- end col -->

    <div class="col-md-3 col-sm-12">
      <p id="product-name">
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Image url:</strong>
        <%= @product.image_url %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %> <small><span class="glyphicon glyphicon-euro fa-sm"></span></small>
      </p>

      <p>
        <strong>Average Rating:</strong>
        <div class="rated" data-score="<%= @product.average_rating %>"></div>
      </p>
    </div><!-- end col -->
  </div> <!-- end row -->

  <div class="product-buttons">
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default"%> |
    <%= link_to 'Back', products_path, class: "btn btn-default" %>
  </div>

  <div class="row" id="comments-section">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <%= @product.highest_rating_comment %>
      <%= @product.lowest_rating_comment %>
    </div> <!-- end col -->
    <div class="col-md-1">
    </div> <!-- end col -->
  </div> <!-- end row -->
</div> <!-- end container -->

<%= render 'new_comment' %>
<%= render 'comments' %>
