<!-- <p id="notice"><%= notice %></p> -->

<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <p>
        <%= if (@product.image_url.present?)
           image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url")
        	end %>
      </p>
    </div> <!-- end col -->

    <div class="col-md-3 col-sm-12">
      <p id="product-name">
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Image url:</strong>
        <%= @product.image_url %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %> <small><span class="glyphicon glyphicon-euro fa-sm"></span></small>
      </p>

      <p>
        <strong>Average Rating:</strong>
        <div class="rated" data-score="<%= @product.average_rating %>"></div>
      </p>
      <br>

      <%= form_tag "/payments/create" do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: 'shared/stripe_checkout_button' %>
      <% end %>

    </div><!-- end col -->
  </div> <!-- end row -->

  <div class="product-buttons">
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default"%> |
    <%= link_to 'Back', products_path, class: "btn btn-default" %>
  </div>

</div> <!-- end container -->

<%= render 'new_comment' %>
<%= render 'comments' %>


<br><br>
<div class ="page-number">
  <%= will_paginate @comments %>
</div>
<br>
